name: Case-Study Frontend CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Public ECR
        env:
          AWS_REGION: us-east-1
        run: |
          aws ecr-public get-login-password --region $AWS_REGION \
            | docker login --username AWS --password-stdin public.ecr.aws

      - name: Build and push to ECR
        env:
          ECR_REPO: public.ecr.aws/j3y2f7u7/frontend-web
        run: |
          docker build \
            -f ./Dockerfile \
            -t $ECR_REPO:latest \
            -t $ECR_REPO:${GITHUB_SHA} \
            .

          docker push $ECR_REPO --all-tags
