name: Case-Study Frontend CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Map repo
        id: set-repo
        run: |
          REPO="public.ecr.aws/j3y2f7u7/forntend-web"
          echo "REPO=$REPO" >> $GITHUB_ENV

      - name: Login to Public ECR
        run: |
          aws ecr-public get-login-password --region us-east-1 \
            | docker login --username AWS --password-stdin public.ecr.aws

      - name: Build & Push Docker Image
        run: |
          docker build -f ./Dockerfile \
            -t $REPO:latest \
            -t $REPO:${GITHUB_SHA} \
            .

          docker push $REPO --all-tags
